<h1><%= @artist.name %></h1>

<div class="row">
  <% @artist.albums.each do | album | %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= album.title %></h5>
          <p class="card-text">
            Musics: <%= album.tracks.count %>
          </p>
          <%= link_to "view more", album, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
